@import 'tailwindcss';

@theme {
  --breakpoint-3xs: 24rem;
  --breakpoint-2xs: 28rem;
  --breakpoint-xs: 32rem;

  --container-6xs: 10rem;
  --container-5xs: 12rem;
  --container-4xs: 14rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-montserrat: var(--font-montserrat);
  --font-souvenir: var(--font-souvenir);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  ::selection {
    color: var(--color-rose-950);
    background: var(--color-rose-300);
  }

  html {
    @apply w-full;
  }

  body {
    @apply font-montserrat relative w-full overflow-x-hidden overflow-y-auto bg-rose-100 font-semibold text-rose-950;
    background-image: radial-gradient(circle at top center, #ffffff99, #fec3ca 60%);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply glossy font-souvenir font-extrabold tracking-[0.0125em];
  }

  h1,
  h2 {
    @apply 3xs:text-4xl text-3xl lg:text-5xl;
  }

  p,
  li {
    @apply text-xl lg:text-2xl;
  }

  .font-souvenir {
    @apply tracking-[0.0125em];
  }
}

* {
  overscroll-behavior: none;
  @apply text-balance;
}

@utility rotate-card-3d {
  --rotate-x: 8deg;
  --rotate-y: 2deg;
  --rotate-z: -1deg;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z)) translateZ(40px);
}

@utility glossy {
  color: transparent;
  will-change: background-position;

  --highlight: rgb(171, 130, 136);
  --dark: rgba(77, 2, 24);

  background-image: linear-gradient(
    45deg,
    var(--dark) 25%,
    var(--highlight) 25%,
    var(--dark) 35%,
    var(--highlight) 35%,
    var(--dark) 50%,
    var(--dark) 75%,
    var(--highlight) 75%,
    var(--dark) 85%,
    var(--highlight) 85%,
    var(--dark) 100%,
    var(--highlight) 100%
  );

  background-clip: text;
  background-position: -25vmax 0;
  background-size: 50vmax 50vmax;
  background-repeat: repeat;
}

@keyframes animateGlossy {
  0%,
  100% {
    background-position: 50vmax 0;
  }
  50% {
    background-position: 0 0;
  }
}

.grainy {
  background-image: url(/noise-light.png);
  background-size: 160px;
  mix-blend-mode: plus-lighter;
  filter: contrast(0.1);
  opacity: 0.8;
  animation: animateGrainy 0.6s infinite step-start;
}

@keyframes animateGrainy {
  0%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(30px);
  }
  75% {
    transform: translateX(60px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .glossy,
  .grainy {
    animation: none !important;
  }
}
