@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-montserrat: var(--font-montserrat);
  --font-souvenir: var(--font-souvenir);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility rotate-card-3d {
  --rotate-x: 8deg;
  --rotate-y: 2deg;
  --rotate-z: -1deg;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z)) translateZ(40px);
}

html {
  @apply w-full;
}

body {
  @apply font-montserrat relative w-full bg-rose-100 font-semibold text-rose-950/5;
  background-image: radial-gradient(circle at top center, #ffffff99, #fec3ca 60%);
}

* {
  overscroll-behavior: none;
  @apply text-balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-souvenir;
}

.glossy {
  background-image: linear-gradient(
    45deg,
    rgb(76, 5, 25) 25%,
    rgba(76, 5, 25, 0.4) 25%,
    rgb(76, 5, 25) 35%,
    rgba(76, 5, 25, 0.4) 35%,
    rgb(76, 5, 25) 50%,
    rgb(76, 5, 25) 75%,
    rgba(76, 5, 25, 0.4) 75%,
    rgb(76, 5, 25) 85%,
    rgba(76, 5, 25, 0.4) 85%,
    rgb(76, 5, 25) 100%,
    rgba(76, 5, 25, 0.4) 100%
  );

  background-clip: text;
  background-position: 0 0;
  background-size: 50vmax 50vmax;
  background-repeat: repeat;
  animation: animateGlossy 45s infinite cubic-bezier(0.63, 0.16, 0.41, 0.87);
}

@keyframes animateGlossy {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100vw 0;
  }
}

@media screen and (min-width: 640px) {
  .glossy {
    background-size: 100vmax 100vmax;
  }
}

.grainy {
  background-image: url(/noise-light.png);
  background-size: 160px;
  mix-blend-mode: plus-lighter;
  filter: contrast(0.1);
  opacity: 0.8;
  animation: animateGrainy 0.6s infinite step-start;
}

@keyframes animateGrainy {
  0%,
  100% {
    background-position: 0px;
  }
  25% {
    background-position: 40px;
  }
  50% {
    background-position: 30px;
  }
  75% {
    background-position: 60px;
  }
}
