@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
  @apply w-full;
}

body {
  @apply bg-rose-100 w-full relative text-rose-950/5 font-bold;

  background-image: radial-gradient(
    circle at top center,
    #ffffff99,
    #fec3ca 60%
  );
}

* {
  overscroll-behavior: none;
  @apply text-balance;
}

.glossy {
  background-image: linear-gradient(
    45deg,
    rgb(76, 5, 25) 25%,
    rgba(76, 5, 25, 0.4) 25%,
    rgb(76, 5, 25) 35%,
    rgba(76, 5, 25, 0.4) 35%,
    rgb(76, 5, 25) 50%,
    rgb(76, 5, 25) 75%,
    rgba(76, 5, 25, 0.4) 75%,
    rgb(76, 5, 25) 85%,
    rgba(76, 5, 25, 0.4) 85%,
    rgb(76, 5, 25) 100%,
    rgba(76, 5, 25, 0.4) 100%
  );

  background-clip: text;
  background-position: 0 0;
  background-size: 50vmax 50vmax;
  background-repeat: repeat;
  animation: animateGlossy 45s infinite cubic-bezier(0.63, 0.16, 0.41, 0.87);
}

@keyframes animateGlossy {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100vw 0;
  }
}

@media screen and (min-width: 640px) {
  .glossy {
    background-size: 100vmax 100vmax;
  }
}

.grainy {
  background-image: url(/noise-light.png);
  background-size: 120px;

  mix-blend-mode: plus-lighter;
  filter: contrast(0.1);
  animation: animateGrainy 0.5s infinite step-start;
}

@keyframes animateGrainy {
  0%,
  100% {
    background-position: 0px;
  }
  25% {
    background-position: 40px;
  }
  50% {
    background-position: 30px;
  }
  75% {
    background-position: 60px;
  }
}
